<mat-card class="card">
  <mat-card-header (click)="toggleFavorite()" >
    <div mat-card-avatar class="header-image" *ngIf="productCardForInterpolation?.isFavorite">
      <mat-icon color="warn">star</mat-icon>
    </div>
    <mat-card-title>{{productCardForInterpolation?.title}}</mat-card-title>
    <mat-card-subtitle>{{productCardForInterpolation?.price}}</mat-card-subtitle>
  </mat-card-header>
  <div class="img">
    <img mat-card-image
         [src]="productCardForInterpolation?.thumbnail"
         [alt]="productCardForInterpolation?.title"
         [routerLink]="['./id']"
    >
  </div>
  <mat-card-content>
    <p>{{productCardForInterpolation?.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button color="accent" mat-button (click)="addedProduct()">Added<mat-icon>done</mat-icon></button>
  </mat-card-actions>
</mat-card>

