/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//wrapper side nav
mat-drawer-container{
  height: 100%;
}

//main side nav
mat-drawer-content{
  background: white;
}

//right side nav
mat-drawer{
  width: 30%;
}
